<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F00T</title>

    <!-- Link to Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='bootstrap-5.0.2-dist/css/bootstrap.min.css') }}"
    />
    <!-- Link to Custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='bootstrap-5.0.2-dist/css/main.css') }}"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div
      class="container-fluid"
      style="background-color: #122620; min-height: 100vh"
    >
      <!-- HEADER -->
      <div
        class="row sticky-top"
        id="header"
        style="background-color: #b68d40; height: 100px"
      >
        <!-- heaer_left -->
        <div class="col-6" id="header_left">
          <a
            href="{{ url_for('index') }}"
            class="d-flex justify-content-start align-items-center text-decoration-none"
            style="color: #122620"
          >
            <img
              src="{{ url_for('static', filename='images/F00T.png') }}"
              alt="F00T"
              class="img-fluid"
              style="max-height: 100px"
            />
            <h1 style="margin-left: 1rem">F00T.de</h1>
          </a>
        </div>
        <!-- header_right -->
        <div
          class="col-6 d-flex justify-content-end bd-highlight align-items-center"
          id="header_right"
        >
          {% if session.get('username') %}
          <h1 class="me-2" style="color: #b68d40; font-size: 1.5rem">
            Welcome, {{ session['username'] }}!
          </h1>

          <!-- Logout Button -->
          <a href="{{ url_for('onLogout') }}">
            <button
              class="btn btn-danger ms-2 align-items-center"
              style="height: 40px; width: auto; font-size: 1rem"
            >
              Logout
            </button>
          </a>

          {% else %}
          <!-- Login Form Button -->
          <a href="{{ url_for('login') }}">
            <button
              class="btn btn-green align-items-center"
              style="height: 40px; width: auto; font-size: 1rem"
            >
              Login
            </button>
          </a>
          {% endif %}
        </div>
      </div>

      <!-- CONTENT -->
      <!-- <div class="content-wrapper" style="min-height: 100vh">
        <div class="container mt-4" style="background-color: #f4ebd0"> -->
      {% block content %}
      <div class="row mt-5 pb-5 align-items-end" id="carousel_container">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner" style="background-color: ">
              <div class="carousel-item active">
                <img
                  src="../static/images/carousel_img_1.jpg"
                  class="d-block carousel-img"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../static/images/carousel_img_2.jpg"
                  class="d-block carousel-img"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../static/images/carousel_img_3.jpg"
                  class="d-block carousel-img"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endblock %}
      <!-- </div>
      </div> -->

      <!-- FOOTER -->
      <div class="row fixed-bottom" id="footer">
        <div
          class="col-12 d-flex align-items-center justify-content-center"
          style="color: #b68d40; height: 50px"
        >
          <h3>F00T inc. 2025 ©</h3>
        </div>
      </div>
    </div>

    <!-- Link to Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap-5.0.2-dist/js/bootstrap.min.js') }}"></script>
  </body>
</html>
