<!-- templates/login.html -->
{% extends "index.html" %} {% block title %} - Login{% endblock %} {% block
content %}
<div class="container pt-5" style="min-height: 100vh">
  <div class="row pt-5 justify-content-center">
    <div class="col-md-6">
      <div class="card" style="border: 1px solid #b68d40">
        <div
          class="card-header"
          style="
            background-color: #b68d40;
            color: #122620;
            font-weight: bold;
            font-size: larger;
          "
        >
          Login
        </div>
        <div
          class="card-body"
          style="background-color: #122620; color: #b68d40"
        >
          <form method="POST" action="{{url_for('onLogin')}}">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Username"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="********"
                required
              />
            </div>
            <button type="submit" class="btn btn-gold">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
